<nav class="navbar navbar-fixed-top">

    <div class="container-wrapper">

        <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']">
                <a id="brand" routerLink="" class="navbar-brand" [routerLinkActive]="['active']">Dmitry Petukhov</a>
            </li>
            <li [routerLinkActive]="['active']"><a routerLink="/projects">Projects</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/skills">Skills</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/workshop">Workshop</a></li>
        </ul>

    </div>

</nav>
