nav {
    background: #fff;
    box-shadow: 0 1px 1px #555;
}

.navbar {
    border: 1px none lightgrey;
    border-bottom-style: solid;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav > li > a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #3c3a37;
}

ul li {
    float: left;
}

#brand {
    font-weight: 800;
    font-size: 16px;
    line-height: 118%;
}
