<div id="intro-wrapper">
    <section id="intro" class="container">
        <div class="text-left">
            <h1>Dmitry Petukhov</h1>
            <p>I'm a developer</p>
        </div>
    </section>
</div>

<section id="menu" class="container">
    <h2>Projects, Skills, Workshop</h2>
    <h3>Projects</h3>
    <h3>Skills</h3>
    <h3>Workshop</h3>
</section>

<section id="schedule" class="container">
    <h2>My schedule</h2>
</section>

<section id="status" class="container">
    <h2>My current status</h2>
</section>

<div id="articles-updates-wrapper" class="container">
    <div class="row">
        <section id="articles" class="col-md-6">
            <h2>Last articles</h2>
        </section>

        <section id="updates" class="col-md-6">
            <h2>Recent updates</h2>
        </section>
    </div>
</div>
