#intro-wrapper {
    border: 1px none lightgrey;
    border-bottom-style: solid;
    background-color: #faf8f6;
}

#intro {
    border: 1px solid lightgrey;
    border-top: none;
    border-bottom: none;
}

#menu {
    border: 1px solid lightgrey;
    border-top: none;
}

#schedule {
    border: 1px solid lightgrey;
    border-top: none;
}

#status {
    border: 1px solid lightgrey;
    border-top: none;
}

#articles {
    border: 1px none lightgrey;
    border-left-style: solid;
}

#updates {
    border: 1px solid lightgrey;
    border-top: none;
    border-bottom: none;
}
