<div id="footer-wrapper">
    <div id="footer" class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="sitemap">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li><a routerLink="/projects">Projects</a></li>
                        <li><a routerLink="/skills">Skills</a></li>
                        <li><a routerLink="/workshop">Workshop</a></li>
                    </ul>
                </div>

                <div id="social">
                    <ul>
                        <li><a href="https://facebook.com/donmutti">Facebook</a></li>
                        <li><a href="https://vk.com/donmutti">VKontakte</a></li>
                        <li><a href="https://linkedin.com/in/donmutti">Linkedin</a></li>
                        <li><a href="https://twitter.com/donmutti0">Twitter</a></li>
                        <li><a href="https://instagram.com/donmutti">Instagram</a></li>
                    </ul>
                </div>

                <div id="copyright">
                    <p>Copyright © 2017 Dmitry Petukhov</p>
                </div>
            </div>

            <div class="col-md-4">
                <div id="contacts">
                    <p>Contacts:</p>
                    <p>Dmitry Petukhov</p>
                    <a href=mailto:donmutti@gmail.com>donmutti@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>