#footer-wrapper {
    background-color: #faf8f6;
}

#footer {
    border: 1px solid lightgrey;
    border-top: none;
    border-bottom: none;
    font-size: 13px;
}

a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
}

a:hover {
    color: #00B7FF;
}

ul {
    margin: 0;
}

ul li {
    display: inline-block;
    padding-right: 10px;
}

#sitemap, #social, #copyright {
    margin: 12px 0;
}

#contacts {
    padding-top: 12px;
}