#projects {
    border: 1px solid lightgrey;
    border-top: none;
    border-bottom: none;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #009bd1;
}

a:hover {
    text-decoration: none;
    color: #00729f;
}
