@font-face {
  font-family: 'ProximaNova';
  font-weight: 200;
  font-style: normal;
  src: url('/assets/font/proxima-nova/proximanova-light.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 200;
  font-style: italic;
  src: url('/assets/font/proxima-nova/proximanova-lightitalic.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/font/proxima-nova/proximanova-regular.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/font/proxima-nova/proximanova-regularitalic.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/font/proxima-nova/proximanova-semibold.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/font/proxima-nova/proximanova-semibolditalic.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/font/proxima-nova/proximanova-bold.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/font/proxima-nova/proximanova-boldit.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 800;
  font-style: normal;
  src: url('/assets/font/proxima-nova/proximanova-extrabold.otf');
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  font-style: normal;
  src: url('/assets/font/proxima-nova/proximanova-black.otf');
}