#loader {
    animation: loader 5s cubic-bezier(.8, 0, .2, 1) infinite;
    height: 40px;
    width: 41px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@keyframes loader {
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

#loader-top {
    animation: loader-top 5s linear infinite;
    border-top: 20px solid #DB7769;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform-origin: 50% 100%;
}

@keyframes loader-top {
    90% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

#loader-bottom {
    animation: loader-bottom 5s linear infinite;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #DB7769;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform: scale(0);
    transform-origin: 50% 100%;
}

@keyframes loader-bottom {
    10% {
        transform: scale(0);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

#loader-line {
    animation: loader-line 5s linear infinite;
    border-left: 1px dotted #DB7769;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 20px;
    left: 20px;
}

@keyframes loader-line {
    10% {
        height: 20px;
    }
    100% {
        height: 20px;
    }
}