div, nav, section, article, header, footer, ul, li, a {
    /*border: 1px dotted orangered;*/
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 400;
    color: #3c3a37;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
}

h1 {
    font-size: 48px;
    font-weight: 100;
}

h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

ul {
    list-style: none none;
}

a {
    text-decoration: none;
    color: #18a3fa;
}

a:hover {
    text-decoration: none;
    color: #0887d7;
}

strong {
    font-weight: 600;
}

img {
    border: 0;
}

.container-wrapper {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container-wrapper {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container-wrapper {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container-wrapper {
        width: 1170px;
    }
}

#app-content {
    margin-top: 50px;
}
